<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../../styles/stories_style.css">
    <link rel="icon" type="image/png" href="/icons/writing_icon.png">
</head>
<body data-scrolling-text=" ">
    <div class="wrapper">
        <!-- Chapter Title -->
        <h1 id="chapter-title">{{ page.title }}</h1>

        <!-- Story Content -->
        <div class="story-container">
            {{ content }}
        </div>
    </div>

    <!-- Copyright Notice -->
    <div class="copyright">
        <p>© Ayşegül Barlas 2024</p>
    </div>

    <!-- Footer -->
    <!-- <div id="footer-container"></div> -->

    <!-- Scripts -->
    <script src="../../scripts/menu-bar-loader.js"></script>
</body>
</html>
